albumentations
dlib
imutils
matplotlib
numpy
opencv_python_headless
Pillow
pycocotools

PyYAML
scipy
tqdm

torch=
torchinfo
torchvision
torchsummary
pytorch_lightning
pytorch-lightning-bolts

tensorboard
tensorboard-data-server
tensorboard-plugin-wit

tensorflow-estimator
tensorflow-gpu
tensorflow-gpu-estimator
